.categories-jumbotron{
	min-height: 100%;
}

.title-row {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: "Montserrat-Light";
}

.custom-row-cat {
	display: flex;
	justify-content: center;
	align-items: center;
}

.categories-card {
	margin: 10px;
}

.categories-card:hover {
	cursor: pointer;
}